.navbar a {
    display: flex;
    text-decoration: none;
    align-items: center;
    color: black;
}

.disabled-row {
    background-color: rgba(235, 235, 228, 0.5);
    color: (0, 0, 0, 0.5)
    /* Replace with the desired overlay color */
}

.classes-state-root.disabled {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}